@media (prefers-color-scheme: dark) {
  .editable-input {
    font-family: 'BryantPro';
    border: none;
    background-color: transparent;
    outline: none;
    color: #ffffffc4;
    padding-left: 8px;
    padding-bottom: 8px;
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  .editable-input {
    font-family: 'BryantPro';
    border: none;
    background-color: transparent;
    outline: none;
    color: #707070;
    padding-left: 8px;
    padding-bottom: 8px;
    width: 100%;
  }
}

.journal-container {
  flex-grow: 1;
  padding-top: 7px;
  padding-left: 6px;
  padding-right: 6px;
}

/*.editable-input:hover {
  border: 3px solid #ccc;
}

.editable-input:focus {
  border: 3px solid #ccc;
}*/