@media (prefers-color-scheme: dark) {
  body {
  background-color: #171926;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;

  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
  }
}

@media (prefers-color-scheme: light) {
  body {
  background-color: #f4faff;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;

  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
  }
}

@font-face {
  font-family: 'BryantPro';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Byrant Pro Bold'), url(./assets/fonts/BryantPro/BryantPro-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Nunito Bold'), url(./assets/fonts/Nunito/Nunito-Bold.woff2) format('woff2');
}

#root {
  height: 100%;
}