.sidebar {
  width: 65px;
  background-image: linear-gradient(180deg,#50D1FF,#491CEE 45%,#2D0083);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.44);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 10px;
}

.control-menu-icon {
  cursor: pointer;
  background-color: transparent;
  height: 40px;
  width: 40px;
  padding: 7px;
  border-radius: 50%;
  margin-left: 13px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.control-menu-icon:focus {
  border: 1px solid #ccc;
}

.control-menu-icon:hover {
  background-color: rgba(0, 0, 0, 0.1)
}

.control-menu-icon:active {
  outline: none;
  background-color: rgba(0, 0, 0, 0.2)
}

.feedback-text {
  font-family: 'BryantPro';
  text-decoration: underline;
  cursor: pointer;
}

.feedback-text:hover {
  color: #3495f8 !important;
}

@media (prefers-color-scheme: dark) {
  .feedback-text {
    color: #ccc !important;
  }
}

@media (prefers-color-scheme: light) {
  .feedback-text {
    color: black !important;
  }
}